@{
    ViewData["Title"] = "Delete";
}
@model Habits.Models.TaskResponse

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Delete">
    <button type ="submit">Delete</button>
    <a asp-controller="Home" asp-action="">Cancel</a>
</form>