@{
    ViewData["Title"] = "Home Page";
}
@model Habits.Models.TaskResponse

@*<div class="text-center">*@
@*<h1 class="display-4">My Tasks</h1>*@
@*<p>Steven Covey's Time Management Matrix</p>*@
@*</div>*@


<div class="container">

    <div class="row text-center">
        <div class="col-sm-9 quadrant">
            Steven Covey's Time Management Matrix
            <div class="row">
                <div class="col-8 col-sm-6 quadrant">Urgent</div>
                <div class="col-4 col-sm-6 quadrant">Not Urgent</div>
            </div>

            <!--<div class=" row position">
        <div class="quadrant">Important</div>
        <div class="quadrant">Not Important</div>
    </div>-->

            <div class="container">
                <div class="row">

                    <div class="col text-center quadrant">Quadrant 1</div>
                    <p></p>
                    <div class="col text-center quadrant">Quadrant 2</div>
                    <p></p>
                    <div class="w-100"></div>
                    <div class="col text-center quadrant">Quadrant 3</div>
                    <p></p>
                    <div class="col text-center quadrant">Quadrant 4</div>
                    <p></p>
                </div>
            </div>
        </div>
        </div>
        
   