.quadrant{
    border: solid 2px black !important;       
}

.position {
    writing-mode: vertical-lr;
    vertical-align: unset;
}
th {
    vertical-align: bottom;
    text-align: center;
}

th span {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
}
.hide {
    display: none;
}

.myTask:hover + .hide {
    display: block;
    color: red;
}
