.quadrant{
    border: solid 2px black !important;       
}

.position {
    height: 100px;
    width: 200px;
    display: flex;
    flex-flow: column wrap;
}
.A {
    height: 50%;
    width: 100px;
}

.B {
    height: 50%;
    width: 100px;
}